<h1>Burgers!</h1>

<h2>Let's Eat Da Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless yummy}}
      <button class="eatMe" data-id="{{id}}" type="button">
        {{name}}
      </button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that have been Eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{name}} || 
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">
  <div>
    <label for="addBurger">Burger Type</label>
    <input type="text" id="burger" name="name">
  </div>
</form>
